<div class="container">
  <h3><span class="fa fa-film"></span> Movie</h3>
  {% for movie in cont['movie']  %}
  <ul class="list-group mb-3 text-white">
    <li class="list-group-item bg-secondary"><b>{{ movie['m_title'] }}</b></li>
    <li class="list-group-item bg-secondary"><b>Year:</b> {{ movie['m_year'] }}</li>
    <li class="list-group-item bg-secondary"><b>Genre:</b> {{ movie['m_genre'] }}</li>
    <li class="list-group-item bg-secondary"><b>Rating:</b> {{ movie['m_rating'] }}</li>
  </ul>
  {% endfor %}
</div>
