<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <title>{% block title %}{% endblock %} - mbook</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='Fork-Awesome-1.1.5/css/fork-awesome.min.css') }}">
  </body>
</html>
